/* - - - ORGANIZAÇÃO DA LISTA - - - */

.data-1, .data-2,
.data-3, .data-4,
.data-5, .data-6,
.data-7, .data-8,
.data-9, .data-10, 

h3, h4, h5 {
    color: #C4C4CC;
    font-size: 1rem;
    font-weight: 400;
}

.data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 13.2%;
    margin-right: 15%;
    background-color: #29292e;
    padding-inline: 1.5rem;
    padding-block: 1rem;
    margin-top: 1rem;
    border-radius: 5px;
}

.data h4 {
    margin-left: 1rem;
}

.data h5 {
    margin-right: -0.5rem;
}
